body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: grid;
  height: 100%;
  background: linear-gradient(to right, rgb(115, 122, 124), rgb(26, 41, 58));
}

.hairMove {
  transform: skew(var(--value));
}
.hairMove2 {
  transform: skew(var(--value2));
}
.hairMove3 {
  transform: skew(var(--value3));
}
.shadows {
  opacity: var(--value4);
}

svg {
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: -4;
  clip-path: inset(1vw 1vw 1vw 1vw);
  overflow-y: hidden;
  overflow-x: hidden;
}

.footer {
  bottom: 1em;
  font-size: 4vw;
  right: 2em;
  z-index: -400;
  color : white;
}
